<a href="#">
  <div class="place-info-box">
    <span class="place-info-box-icon">
    <img class="img-fluid" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" />
    </span>
    <div class="place-info-box-content">
      <span class="place-info-box-text titleMobile">{{movie.title}}</span>
      <a class="btnWidth btn btn-primary pull-right btn-xs buttonInfMobile"
      [routerLink]="['/catalogDetails']"
      (click)="onSelect(movie)"
      id="{{movie.id}}">Mais informações</a><br>
      <div class="mobileWrapperReleaseDate">
        <span class="place-info-box-star">
          <i class="fa fa-star"></i> {{movie.vote_average}}</span>
        <span class="place-info-box-detail">
        <span>Data de Lançamento: </span>{{movie.release_date}}
      </span>
      </div><br/>
      <span class="place-info-box-detail">{{movie.overview | slice:0:150}}...</span>
    </div>
    <!-- /.info-box-content -->
  </div>
</a>
