<div class="col-xs-12">
  <div class="box box-solid">
    <div class="box-header with-border">
      <i class="fa fa-film"></i>
      <h3 class="box-title titleMobileDetails">{{movieDetails.original_title}}</h3>
      <span class="pull-right"><i class="fa fa-star"></i> {{movieDetails.vote_average}}</span>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="col-sm-3 col-xs-12">
        <img class="box-img-detail" src="https://image.tmdb.org/t/p/w500/{{movieDetails.poster_path}}">
      </div>

      <dl class="col-sm-9 col-xs-12">
        <dd class="sinopse">Sinopse</dd>
        <dd>{{movieDetails.overview}}</dd>
        <dt class="equipTecn">Equipe técnica principal</dt>
        <dd>{{movieDetails.production_companies[0].name}}</dd>
        <dd>{{movieDetails.production_companies[1].name}}</dd>
      </dl>
    </div>
      <div class="col-md-4 col-xs-12">
        <div class="box box-solid">
          <div class="box-header">
            <i class="fa"></i>
            <h3 class="box-title">Informações
            </h3>
          </div>
          <div class="box-body">
            <div class="table-responsive">
                <table class="table">
                  <tbody>
                  <tr>
                    <th style="width:60%">Título original</th>
                    <td class="text-right">{{movieDetails.original_title}}</td>
                  </tr>
                  <tr>
                    <th>Duração</th>
                    <td class="text-right">{{movieDetails.runtime}} Minutos</td>
                  </tr>
                  <tr>
                    <th>Lançamento</th>
                    <td class="text-right">{{movieDetails.release_date}}</td>
                  </tr>
                </tbody>
              </table>
              </div>
          </div>
          <div class="box-footer">
            <div class="col-md-12">
              <a [routerLink]="['/catalog']" class="btnNewComeHome btn btn-success"><i class="fa fa-film"></i> Voltar ao Catalogo</a>
            </div>
          </div>
      </div>
    </div>
    <img class="img-fluid imgDesktop" src="https://image.tmdb.org/t/p/w500/{{movieDetails.backdrop_path}}" alt="posterMovie">
  </div>
</div>
