 <!-- INíCIO do CONTEÚDO -->
 <section class="content-header col-md-12">
  <h1 class="titleMoviesMain">
    Todos os Filmes
  </h1>
  <section class="removeRowMobile row col-sm-6 col-xs-12 col-md-2">
    <label class="titleOfSelect">Filtrar por Gênero</label>
    <select class="selectGenre" (change)="selectChangeHandler($event)">
      <option value="16">Animação</option>
      <option value="12">Aventura</option>
      <option value="28">Ação</option>
      <option value="10770">Cinema TV</option>
      <option value="35">Comédia</option>
      <option value="80">Crime</option>
      <option value="99">Documentário</option>
      <option value="18">Drama</option>
      <option value="10751">Família</option>
      <option value="14">Fantasia</option>
      <option value="37">Faroeste</option>
      <option value="878">Ficção científica</option>
      <option value="10752">Guerra</option>
      <option value="36">História</option>
      <option value="9648">Mistério</option>
      <option value="10402">Música</option>
      <option value="10749">Romance</option>
      <option value="27">Terror</option>
      <option value="53">Thriller</option>
    </select>
  </section>
</section>



<!-- <div>{{selectedDay}}</div> -->

<section class="content">

  <div class="row">
          <div *ngFor="let movie of movies" class="col-sm-6 col-xs-12">
            <mt-item-catalog [movie]="movie"></mt-item-catalog>
          </div>
  </div>

</section>

<!-- FIM  do CONTEÚDO -->
